spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ticketdb
    username: ticket
    password: ticketpw

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: false

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.jdbc.bind: trace
